<div class="p-6">
  <div class="container mx-auto px-4  py-4">
    <div class="flex item-center">
      <div class= "flex items-center justify-between w-[100%] mb-5">
        <div class="flex items-center justify-center">
                <h2 class="text-2xl text-blue dark:text-white font-[500]">Inventory</h2>
          <i id="refreshTable" class="fa fa-refresh text-blue dark:text-white " aria-hidden="true"></i>
        </div>
        <h3 class="mt-[8px] ml-[75px] text-black dark:text-white">Total Worth: <%= "$#{@total_market_price}" %></h3>
      </div>
    </div>
      <div class="absolute z-[1]">
      <%= form_tag(inventories_path, method: :get, id: 'inventoryForm') do %>
        <label>
          <%= select_tag 'tradable', options_for_select([['All', nil], ['Tradable', true], ['Non-Tradable', false]], params[:tradable]), class: 'w-[100%] rounded-lg p-1', onchange: 'submitinvForm()' %>
        </label>
      <% end %>
      </div>
    
         <%= render partial: 'inventory' , locals:{ inventories: @inventories }%>
         <div class="apple_pagination flex justify-center justify-between">
          <div class="page_info">
            <%= page_entries_info @inventories %>
          </div>
          <div>
            <%= will_paginate @inventories, 
                previous_label: 'Previous', 
                next_label: 'Next',
                inner_window: 3,
                outer_window: 1,
                renderer: WillPaginate::ActionView::LinkRenderer,
                class: 'flex items-center space-x-2'
            %>
          </div>
          </div>
  </div>

    <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-8">
    <div style= "display: flex; ">
      <h2 class="text-2xl text-blue dark:text-white font-[500] absolute">Sellable Inventory</h2>
    </div>
      <%= render partial: 'sellable_inventory' , locals:{ sellable_inventory: @sellable_inventory }%>
      <div class="apple_pagination flex justify-center justify-between">
          <div class="page_info">
            <%= page_entries_info @sellable_inventory %>
          </div>
          <div>
            <%= will_paginate @sellable_inventory, 
                previous_label: 'Previous', 
                next_label: 'Next',
                inner_window: 3,
                outer_window: 1,
                renderer: WillPaginate::ActionView::LinkRenderer,
                class: 'flex items-center space-x-2'
            %>
          </div>
          </div>
    </div>
</div>

  <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-8">
    <div style= "display: flex; ">
      <h2 class="text-2xl text-blue dark:text-white font-[500] absolute">Missing Items</h2>

    </div>
      <%= render partial: 'missing_items' , locals:{ missing_items: @missing_items }%>
  </div>
</div>

<script>
    $(document).ready(function() {
        const searchInputs = document.querySelectorAll('input[type="search"]');
        searchInputs.forEach(function(input) {
            input.style.marginBottom = '10px';
        });

        var elements = document.querySelectorAll('.dataTables_length');
        for (var i = 0; i < elements.length; i++) {
            elements[i].parentNode.removeChild(elements[i]);
        }

      $('#refreshTable').click(function() {
        this.classList.add("fa-spin")
            $.ajax({
                url: '<%= inventories_path(format: :js) %>',
                method: 'GET',
                data: { refresh: true },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.error('Error refreshing table', textStatus, errorThrown);
                }
            });
        });
    });
    function submitinvForm() {
      document.getElementById("inventoryForm").submit();
    }

    function submitForm() {
            document.getElementById("postForm").submit();
        }
</script>