<%= form_for @selling_filter, remote: true, html: { class: 'grid grid-cols-1 gap-6 selling_filter_form' } do |f| %>
  <h1 class="text-center text-2xl font-bold text-black dark:text-white"><%= @selling_filter.steam_account.unique_name %></h1 class="text-center text-2xl font-bold">
  <em class="text-red-600 text-center">These parameters define your selling algorithm</em>
  <div>
    <%= f.label :min_profit_percentage, class: 'block text-sm font-medium text-grayDark dark:text-white' %>
    <%= f.number_field :min_profit_percentage, class: 'mt-1 p-2 border rounded-md w-full' %>
  </div>

  <div>
    <%= f.label :undercutting_interval, class: 'block text-sm font-medium text-grayDark dark:text-white' %>
    <%= f.number_field :undercutting_interval, class: 'mt-1 p-2 border rounded-md w-full' %>
  </div>

  <div>
    <%= f.submit 'Update Selling Filter', id: 'updateSellingFilterButton', class: 'bg-blue dark:bg-blue text-white px-4 py-2 rounded-md', onclick: 'hide_modal(event)' %>
  </div>
<% end %>

<script>
  function hide_modal(event){
    if (confirm("Are you sure, you want to change these parameters? The current process will be terminated, and the new process will start with these filters.")){
      $('#editSellingFilterModal').addClass('hidden');
    }else{
      event.preventDefault();
    }
  }

  $('.selling_filter_form').on('ajax:success', function(event){
    var response = JSON.parse(event.detail[0]);
    message = response.message;

    if(message == 'Selling filter updated successfully.'){
      if($(`.toggle-${response.selling_id}`)[0].checked){
        $(`.toggle-${response.selling_id}`).click();
      }
      window.location.reload();
    }
    else{
      $('#toast-danger').removeClass('hidden').find('.error_message').text(message);
    }
  }).on('ajax:success', function(event){
    window.location.reload();
  })

</script>