<div class="flex">
  <div class="p-3 m-5 ml-auto">
    <%= link_to "Mark all as read", mark_all_as_read_path, method: :put, class: "text-white bg-blue p-2 rounded" %>
  </div>
</div>

<div role="navigation" aria-label="Pagination" class="px-3 py-2 mx-2 text-grayDark no-underline bg-white dark:bg-grayExtraDark rounded-lg">
<div class="text-center my-4">
  <div class="sm:px-8">
  <div class="overflow-y-hidden rounded-lg border border-grayLight dark:bg-grayExtraDark">
    <div class="overflow-x-auto">
      <table class="w-full ">
        <thead>
          <tr class="bg-blue text-xs font-semibold uppercase tracking-widest text-white">
            <th class="px-5 py-3">ID</th>
            <th class="px-5 py-3">Title</th>
            <th class="px-5 py-3">Description</th>
            <th class="px-5 py-3">Type</th>
            <th class="px-5 py-3">Time</th>
            <th class="px-5 py-3"></th>
          </tr>
        </thead>
        <tbody class="text-gray">
        <% @notifications.each do |notification| %>
          <tr>
            <td class="border-b border-grayLight bg-white dark:bg-grayExtraDark px-5 py-3 text-sm">
              <p class="whitespace-no-wrap text-gray dark:text-white"><%= notification.id %></p>
            </td>
            <td class="border-b border-grayLight bg-white dark:bg-grayExtraDark px-5 py-3 text-sm">
              <div class="flex items-center">
                <div class="ml-3">
                  <p class="whitespace-no-wrap text-gray dark:text-white"><%= notification.title %></p>
                </div>
              </div>
            </td>
            <td class="border-b border-grayLight bg-white dark:bg-grayExtraDark px-5 py-3 text-sm">
              <p class="whitespace-no-wrap text-gray dark:text-white"><%= notification.body %></p>
            </td>

            <td class="border-b border-grayLight bg-white dark:bg-grayExtraDark px-5 py-3 text-sm">
              <% notification_type_styles = {
                  "Login" => "bg-yellow-300 text-yellow-600",
                  "Sold" => "bg-red-300 text-red-600",
                  "Bought" => "bg-green-300 text-green-600"
                }
              %>
              <span class="rounded-full <%= notification_type_styles[notification.notification_type] || 'bg-gray text-grayDark' %> px-3 py-1 text-xs font-semibold">
                <%= notification.notification_type %>
              </span>
            </td>
            
            <td class="border-b border-grayLight bg-white dark:bg-grayExtraDark px-5 py-3 text-sm">
              <span class="whitespace-no-wrap text-gray dark:text-white"><%= "#{time_ago_in_words(notification.created_at)} ago" %></span>
            </td>

            <td class="border-b border-grayLight bg-white dark:bg-grayExtraDark px-5 py-3 text-sm">
              <span class="mx-auto mt-1 block h-2 w-2 rounded-full content-[''] <%= notification.is_read? ? "bg-gray" : "bg-green-500" %>"></span>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>


  <div class="apple_pagination flex justify-center justify-between">
  <div class="page_info">
    <%= page_entries_info @notifications %>
  </div>
  <div>
    <%= will_paginate @notifications, 
        previous_label: 'Previous', 
        next_label: 'Next',
        inner_window: 3,
        outer_window: 1,
        renderer: WillPaginate::ActionView::LinkRenderer,
        class: 'flex items-center space-x-2'
    %>
  </div>
</div>

<script>
  function submitForm() {
    document.getElementById("postForm").submit();
  }
</script>
