<table id="dataItemListed" class="display shadow-md rounded-lg" style="width:100%; border: none;">

    <thead class="bg-blue text-white">
            <tr>
                <th class="border-r border-r-[#acadaf9c] text-sm px-4 py-2 rounded-tl-lg">Item ID</th>
                <th class="border-r border-r-[#acadaf9c] text-sm px-4 py-2">Market Name</th>
                <th class="border-r border-r-[#acadaf9c] text-sm px-4 py-2">Price</th>
                <th class="border-r border-r-[#acadaf9c] text-sm px-4 py-2 ">Site</th>
                <th class=" text-sm px-4 py-2 rounded-tr-lg ">Date</th>
            </tr>
        </thead>
        <tbody>
            <% item_listed_for_sale_hash.each do |item_listed_for_sale_hash| %>
                <tr>
                    <td class="border-r border-r-[#acadaf9c] text-sm text-center px-4 py-2"><%= item_listed_for_sale_hash['item_id'] %></td>
                    <td class="border-r border-r-[#acadaf9c] text-sm text-center px-4 py-2"><%= item_listed_for_sale_hash['market_name'] %></td>
                    <td class="border-r border-r-[#acadaf9c] text-sm text-center px-4 py-2"><%= "$#{(item_listed_for_sale_hash['price'].to_f / 1000).round(4)}" %></td>
                    <td class="border-r border-r-[#acadaf9c] text-sm text-center px-4 py-2"><%= item_listed_for_sale_hash['site'] %></td>
                    <td class=" text-sm text-center px-4 py-2"><%= Time.parse(item_listed_for_sale_hash['date']).strftime("%d/%B/%Y") %></td>
                </tr>
            <% end %>
        </tbody>
    </table>

    <script>
    $('#dataItemListed').DataTable({
        paging: true,
        pageLength: 10,
         language: {
        search: "_INPUT_",
        searchPlaceholder: "Search...",
      } // Number of records per page
        // Other DataTables options...
    });
</script>