<div class="p-6">
    <div class="flex gap-5">
        <h1 class="text-2xl font-bold">Steam Accounts</h1>
    </div>
 <div class="container max-w-lg amx-auto px-4 sm:px-6 lg:px-8 py-8">
      <div>
    <button type="button" class="inline-flex w-full justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" id="steam-account-button" aria-expanded="true" aria-haspopup="true">
      Select Account
      <svg class="-mr-1 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
      </svg>
    </button>
  </div>
  <div class="absolute hidden rounded-md w-[31%] bg-white shadow-lg focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1" id="steam-account-dropdown">
    <!-- Add data-steam-id attribute to each dropdown item -->
    <div class="py-1" role="none">
        <% @steam_accounts.each do |steam_account| %>
            <div class="flex items-center justify-center">
                <p data-steam-id="<%= steam_account.id %>" class="steam-account-item"><%= steam_account.unique_name %></p>
                <p><%= "(ID: #{steam_account.steam_id})" %></p>
            </div>
        <% end %>
    </div>
  </div>
</div>

    <div class="flex gap-5">
    <h1 class="text-2xl font-bold mb-4">Balance</h1>
        <i class="fa fa-refresh" aria-hidden="true"></i>
    </div>
    <div class="mb-3">
        <h2 class="font-bold">CSGO Empire Balance: <%= @csgo_empire_balance.nil? ? "$0" : "#{@csgo_empire_balance} coins" %></h2>
        <h2 class="font-bold">CSGO Market Balance: <%= @csgo_market_balance.nil? ? "$0" : "$#{@csgo_market_balance}" %></h2>
        <h2 class="font-bold">Waxpeer Balance: <%= @waxpeer_balance.nil? ? "$0" : "$#{@waxpeer_balance}" %></h2>
    </div>
    <hr class="bg-gray-400 h-px w-full mb-3">
    <div style= "display: flex;">
    <h2 class="text-2xl font-bold mb-4">Active Trades</h2>
        <i class="fa fa-refresh" aria-hidden="true"></i>
    </div>

    <table id="dataTableActiveTrades" class="display" style="width:100%">
        <thead>
            <tr>
                <th class="px-4 py-2">Item ID</th>
                <th class="px-4 py-2">Item Name</th>
                <th class="px-4 py-2">Type</th>
                <th class="px-4 py-2">Current Price</th>
                <th class="px-4 py-2">Status</th>
                <th class="px-4 py-2">Date</th>
            </tr>
        </thead>
        <tbody>
        <% @active_trades.each do |active_trade| %>
            <tr>
                <td class="border text-center px-4 py-2"><%= active_trade["item_id"] %></td>
                <td class="border text-center px-4 py-2"><%= active_trade["name"] %></td>
                <td class="border text-center px-4 py-2"><%= active_trade["game"] %></td>
                <td class="border text-center px-4 py-2"><%= "$#{active_trade["price"]}" %></td>
                <td class="border text-center px-4 py-2"><%= active_trade["action"] %></td>
                <td class="border text-center px-4 py-2"><%= Time.parse(active_trade["date"]).strftime("%d/%B/%Y") %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
</div>


<div class="flex">
<div class="table-1">
 <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-8">
    <div style= "display: flex;">
    <h2 class="text-2xl font-bold mb-4">Inventory</h2>
        <i class="fa fa-refresh" aria-hidden="true"></i>
    </div>

    <table id="dataTableInvetory" class="display" style="width:100%">
        <thead>
            <tr>
                <th class="px-4 py-2">Item ID</th>
                <th class="px-4 py-2">Market Name</th>
                <th class="px-4 py-2">Market Price</th>
                <th class="px-4 py-2">Tradable</th>
            </tr>
        </thead>
        <tbody>
            <% @inventories.each do |inventory| %>
                <tr>
                    <td class="border text-center px-4 py-2"><%= inventory.item_id %></td>
                    <td class="border text-center px-4 py-2"><%= inventory.market_name %></td>
                    <td class="border text-center px-4 py-2"><%= "$#{inventory.market_price}" %></td>
                    <td class="border text-center px-4 py-2"><%= inventory.tradable %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
</div>

<div class="table-2">
 <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-8">
 <div class="flex">
    <h2 class="text-2xl font-bold mb-4">Items Sold</h2>
    <i class="fa fa-refresh" aria-hidden="true"></i>
    </div>

    <table id="dataTableItemsSold" class="display" style="width:100%">
        <thead>
            <tr>
                <th class="px-4 py-2">Item ID</th>
                <th class="px-4 py-2">Item Name</th>
                <th class="px-4 py-2">Price Sold</th>
                <th class="px-4 py-2">Profit</th>
            </tr>
        </thead>
        <tbody>
        <% 24.times do |i| %>
            <tr>
                <td class="border text-center px-4 py-2"><%= "#{i+1}" %></td>
                <td class="border text-center px-4 py-2">Edinburgh</td>
                <td class="border text-center px-4 py-2">$320,800</td>
                <td class="border text-center px-4 py-2">true</td>
            </tr>
            <% end %>
            


            <!-- Add more rows as needed -->
        </tbody>
    </table>
</div>
</div>

</div>

<script>
    $(document).ready(function() {
        $('#dataTableItemsSold').DataTable();
        $('#dataTableInvetory').DataTable();
        $('#dataTableActiveTrades').DataTable();

        const searchInputs = document.querySelectorAll('input[type="search"]');
        searchInputs.forEach(function(input) {
            input.style.marginBottom = '10px'
        });

        const dataTables = document.querySelectorAll('.dataTable');
        dataTables.forEach((el)=>{
            el.style.border = '1px solid black';
        })

        var elements = document.querySelectorAll('.dataTables_length');
        for (var i = 0; i < elements.length; i++) {
            elements[i].parentNode.removeChild(elements[i]);
        }
            const steamAccountsButton = document.getElementById("steam-account-button");
            const steamAccountsDropdown = document.getElementById("steam-account-dropdown");
           
            steamAccountsButton.addEventListener("click", () => {
              steamAccountsDropdown.classList.toggle("hidden");
           });
    });
    document.addEventListener('DOMContentLoaded', function () {
        var accountItems = document.querySelectorAll('.steam-account-item');
        accountItems.forEach(function (item) {
            item.addEventListener('click', function () {
                var steamId = item.getAttribute('data-steam-id');
                updateActiveAccount(steamId);
            });
        });

        function updateActiveAccount(steamId) {
            fetch('/home/update_active_account', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').content
                },
                body: JSON.stringify({ steam_id: steamId })
            })
            .then(function () {
                location.reload();
            });
        }
    });
</script>