<div class="p-6">
    <div class="flex gap-5">
        <h1 class="text-2xl font-bold">Steam Accounts <%= @active_steam_account&.unique_name  %></h1>
    </div>
<%= form_tag(home_update_active_account_path, method: :post, id: 'postForm') do %>
    <%= label_tag(:steamAccountSelect, 'Choose Steam Account:') %>
    <%= select_tag('steam_id', options_for_select([['Select an account', nil]] + @steam_accounts.map { |steam_account| [ "#{steam_account.unique_name} ID: (#{steam_account.steam_id})", steam_account.steam_id ] }, params["steam_account"]&.[]("unique_name")), id: 'steamAccountSelect', class: "w-[25%] rounded-lg p-2", onchange: 'submitForm()') %>
<% end %>

    <div class="flex gap-5">
    <h1 class="text-2xl font-bold mb-4">Balance</h1>
        <i class="fa fa-refresh" aria-hidden="true"></i>
    </div>
    <div class="mb-3">
        <h2 class="font-bold">CSGO Empire Balance: <%= @csgo_empire_balance.nil? ? "$0" : "#{@csgo_empire_balance} coins" %></h2>
        <h2 class="font-bold">CSGO Market Balance: <%= @csgo_market_balance.nil? ? "$0" : "$#{@csgo_market_balance}" %></h2>
        <h2 class="font-bold">Waxpeer Balance: <%= @waxpeer_balance.nil? ? "$0" : "$#{@waxpeer_balance}" %></h2>
    </div>
    <hr class="bg-gray-400 h-px w-full mb-3">
    <div style= "display: flex;">
    <h2 class="text-2xl font-bold mb-4">Active Trades</h2>
        <i class="fa fa-refresh" aria-hidden="true"></i>
    </div>

    <table id="dataTableActiveTrades" class="display" style="width:100%">
        <thead>
            <tr>
                <th class="px-4 py-2">Item ID</th>
                <th class="px-4 py-2">Item Name</th>
                <th class="px-4 py-2">Type</th>
                <th class="px-4 py-2">Current Price</th>
                <th class="px-4 py-2">Status</th>
                <th class="px-4 py-2">Date</th>
            </tr>
        </thead>
        <tbody>
        <% @active_trades.each do |active_trade| %>
            <tr>
                <td class="border text-center px-4 py-2"><%= active_trade["item_id"] %></td>
                <td class="border text-center px-4 py-2"><%= active_trade["name"] %></td>
                <td class="border text-center px-4 py-2"><%= active_trade["game"] %></td>
                <td class="border text-center px-4 py-2"><%= "$#{active_trade["price"]}" %></td>
                <td class="border text-center px-4 py-2"><%= active_trade["action"] %></td>
                <td class="border text-center px-4 py-2"><%= Time.parse(active_trade["date"]).strftime("%d/%B/%Y") %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
</div>


<div class="flex">
<div class="table-1">
 <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-8">
    <div style= "display: flex;">
    <h2 class="text-2xl font-bold mb-4">Item listed for sale</h2>
        <i class="fa fa-refresh" aria-hidden="true"></i>
    </div>

    <table id="dataTableInvetory" class="display" style="width:100%">
        <thead>
            <tr>
                <th class="px-4 py-2">Item ID</th>
                <th class="px-4 py-2">Market Name</th>
                <th class="px-4 py-2">Price</th>
                <th class="px-4 py-2">Site</th>
                <th class="px-4 py-2">Date</th>
            </tr>
        </thead>
        <tbody>
            <% @item_listed_for_sale_hash.each do |item_listed_for_sale_hash| %>
                <tr>
                    <td class="border text-center px-4 py-2"><%= item_listed_for_sale_hash['item_id'] %></td>
                    <td class="border text-center px-4 py-2"><%= item_listed_for_sale_hash['market_name'] %></td>
                    <td class="border text-center px-4 py-2"><%= "$#{item_listed_for_sale_hash['price'].to_f / 1000}" %></td>
                    <td class="border text-center px-4 py-2"><%= item_listed_for_sale_hash['site'] %></td>
                    <td class="border text-center px-4 py-2"><%= Time.parse(item_listed_for_sale_hash['date']).strftime("%d/%B/%Y") %></td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
</div>

<div class="table-2">
 <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-8">
 <div class="flex">
    <h2 class="text-2xl font-bold mb-4">Items Sold</h2>
    <i class="fa fa-refresh" aria-hidden="true"></i>
    </div>

    <table id="dataTableItemsSold" class="display" style="width:100%">
        <thead>
            <tr>
                <th class="px-4 py-2">Item ID</th>
                <th class="px-4 py-2">Item Name</th>
                <th class="px-4 py-2">Price Sold</th>
                <th class="px-4 py-2">Profit</th>
            </tr>
        </thead>
        <tbody>
        <% 24.times do |i| %>
            <tr>
                <td class="border text-center px-4 py-2"><%= "#{i+1}" %></td>
                <td class="border text-center px-4 py-2">Edinburgh</td>
                <td class="border text-center px-4 py-2">$320,800</td>
                <td class="border text-center px-4 py-2">true</td>
            </tr>
            <% end %>
            


            <!-- Add more rows as needed -->
        </tbody>
    </table>
</div>
</div>

</div>

<script>
    $(document).ready(function() {
        $('#dataTableItemsSold').DataTable();
         $('#dataTableInvetory').DataTable({
            "order": [[2, 'desc']],
        });
        $('#dataTableActiveTrades').DataTable();

        const searchInputs = document.querySelectorAll('input[type="search"]');
        searchInputs.forEach(function(input) {
            input.style.marginBottom = '10px'
        });

        const dataTables = document.querySelectorAll('.dataTable');
        dataTables.forEach((el)=>{
            el.style.border = '1px solid black';
        })

        var elements = document.querySelectorAll('.dataTables_length');
        for (var i = 0; i < elements.length; i++) {
            elements[i].parentNode.removeChild(elements[i]);
        }
    });

        function submitForm() {
            document.getElementById("postForm").submit();
        }
</script>