<div class="p-6">
 <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-8">
 <div style= "display: flex;">
    <h2 class="text-2xl font-bold mb-4">Connected Steam Accounts</h2>
</div>
  <a href="<%= new_steam_account_path %>" class="mt-6 float-right mb-3 inline-block bg-blue-500 text-gray-100 font-bold px-4 py-2 rounded-lg shadow-md hover:bg-blue-600">Add New Steam Account</a>

<table id="dataTableSteamAccount" class="display" style="width:100%">
    <thead>
        <tr>
            <th class="px-4 py-2">Steam ID</th>
            <th class="px-4 py-2">Name</th>
            <th class="px-4 py-2">Steam Web API Key</th>
            <th class="px-4 py-2">Waxpeer API Key</th>
            <th class="px-4 py-2">CSGOEmpire API Key</th>
            <th class="px-4 py-2">Market.CSGO API Key</th>
            <th class="px-4 py-2">Action</th>
        </tr>
    </thead>
    <tbody>
        <% @steam_accounts.each do |steam_account| %>
            <tr class="hover:bg-gray-100">
                <td class="border text-center px-4 py-2 min-w-10 break-all"><%= steam_account.steam_id %></td>
                <td class="border text-center px-4 py-2 min-w-10 break-all"><%= steam_account.unique_name %></td>
                <td class="border text-center px-4 py-2 min-w-10 break-all"><%= steam_account.steam_web_api_key %></td>
                <td class="border text-center px-4 py-2 min-w-10 break-all"><%= steam_account.waxpeer_api_key %></td>
                <td class="border text-center px-4 py-2 min-w-10 break-all"><%= steam_account.csgoempire_api_key %></td>
                <td class="border text-center px-4 py-2 min-w-10 break-all"><%= steam_account.market_csgo_api_key %></td>
                <td class="border text-center px-4 py-2 min-w-10 break-all"><%= link_to "Edit", edit_steam_account_path(id: steam_account) %></td>
            </tr>
        <% end %>
    </tbody>
</table>

</div>
</div>



<script>
    $(document).ready(function() {
        $('#dataTableSteamAccount').DataTable();
            const searchInputs = document.querySelectorAll('input[type="search"]');
            searchInputs.forEach(function(input) {
                input.style.marginBottom = '10px'
            });
    
            const dataTables = document.querySelectorAll('.dataTable');
            dataTables.forEach((el)=>{
                el.style.border = '1px solid black';
            })
    
            var elements = document.querySelectorAll('.dataTables_length');
            for (var i = 0; i < elements.length; i++) {
            elements[i].parentNode.removeChild(elements[i]);
            }
    });

</script>