<%= form_for @buying_filter, remote: true, html: { class: 'grid grid-cols-1 gap-6 buying_filter_form' } do |f| %>
  <h1 class="text-center text-2xl font-bold"><%= @buying_filter.steam_account.unique_name %></h1 class="text-center text-2xl font-bold">
  <div>
    <%= f.label :min_percentage, class: 'block text-sm font-medium text-grayDark' %>
    <%= f.number_field :min_percentage, class: 'mt-1 p-2 border rounded-md w-full' %>
  </div>

  <div>
    <%= f.label :max_price, class: 'block text-sm font-medium text-grayDark' %>
    <%= f.number_field :max_price, class: 'mt-1 p-2 border rounded-md w-full' %>
  </div>

  <div>
    <%= f.label :min_price, class: 'block text-sm font-medium text-grayDark' %>
    <%= f.number_field :min_price, class: 'mt-1 p-2 border rounded-md w-full' %>
  </div>

  <div>
    <%= f.submit 'Update Buying Filter', id: 'updateBuyingingFilterButton', class: 'bg-blue text-white px-4 py-2 rounded-md', onclick: 'hide_modal(event)' %>
  </div>
<% end %>

<script>
  function hide_modal(event){
    if (confirm("Are you sure, you want to change these parameters? The current process will be terminated, and the new process will start with these filters.")){
      $('#editSellingFilterModal').addClass('hidden');
    }else{
      event.preventDefault();
    }
  }

  $('.buying_filter_form').on('ajax:success', function(event){
    // console.log('Ajax request successful:', data, status, xhr);
    var response = JSON.parse(event.detail[0]);
    message = response.message;

    if(message == 'Buying filter updated successfully.'){
      $('#toast-success').removeClass('hidden').find('.success_message').text(message);
      if($(`.toggle-buying${response.buying_id}`)[0].checked){
        $(`.toggle-buying${response.buying_id}`).click();
      }
    }
    else{
      $('#toast-danger').removeClass('hidden').find('.error_message').text(message);
    }
  }).on('ajax:error', function(event){
    $('#toast-danger').removeClass('hidden').find('.error_message').text('Something went Wrong!!!');
  })

</script>