<div class= "bg-image flex flex-row items-center justify-center" style="background-image: radial-gradient(circle, lightblue, aliceblue, black);" >
<section>
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-grayExtraDark dark:border-grayDark" style="width:400px;">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-grayExtraDark md:text-2xl dark:text-white">
          Sign in to your account
        </h1>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "space-y-4 md:space-y-6" }) do |f| %>
          <div class="mb-4">
            <%= f.label :email, class: "block mb-2 text-sm font-medium text-grayExtraDark dark:text-white" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "bg-grayLight border border-gray text-grayExtraDark sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-grayDark dark:border-grayDark dark:placeholder-gray dark:text-white dark:focus:ring-blue dark:focus:border-blue", placeholder: "name@company.com", required: true %>
          </div>
          <div class="mb-4">
            <%= f.label :password, class: "block mb-2 text-sm font-medium text-grayExtraDark dark:text-white" %>
            <%= f.password_field :password, autocomplete: "current-password", class: "bg-grayLight border border-gray text-grayExtraDark sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-grayDark dark:border-grayDark dark:placeholder-gray dark:text-white dark:focus:ring-blue dark:focus:border-blue", placeholder: "••••••••", required: true %>
          </div>
          <% if devise_mapping.rememberable? %>
            <div class="mb-4">
              <div class="flex items-center">
                <%= f.check_box :remember_me, class: "w-4 h-4 border border-gray rounded bg-grayLight focus:ring-3 focus:ring-primary-300 dark:bg-grayDark dark:border-grayDark dark:focus:ring-primary-600 dark:ring-offset-grayExtraDark" %>
                <%= f.label :remember_me, class: "ml-3 text-sm text-gray dark:text-gray" %>
              </div>
            </div>
          <% end %>
          <div class="mb-4">
            <%= f.submit "Sign in", class: "w-full text-white bg-blue hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover-bg-primary-700 dark:focus-ring-primary-800" %>
          </div>
        <% end %>
        <p class="text-sm font-light text-gray-500 dark:text-gray-400">
          Don't have an account yet? <a href="/users/sign_up" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Sign up</a>
        </p>

         <%= link_to "Forgot Password", "#", class: "text-blue-500 underline", id: "forgot-password-link" %>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "space-y-4 md:space-y-6", id: "password-reset-form" }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="field hidden" id="email-field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
            <div class="actions hidden" id="submit-button">
              <%= f.submit "Send me reset password instructions" %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</section>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const forgotPasswordLink = document.getElementById("forgot-password-link");
    const emailField = document.getElementById("email-field");
    const submitButton = document.getElementById("submit-button");

    forgotPasswordLink.addEventListener("click", function() {
      emailField.classList.toggle("hidden");
      submitButton.classList.toggle("hidden");
    });
  });
</script>
