<!DOCTYPE html>
<html>
  <head>
    <title>SwapLoot</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <%= javascript_include_tag 'rails-ujs', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script 
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js"
      integrity="sha512-b94Z6431JyXY14iSXwgzeZurHHRNkLt9d6bAHt7BZT38eqV+GyngIi/tVye4jBKPYQ2lBdRs0glww4fmpuLRwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer">
    </script>
  </head>

  <body data-controller="data" >

  <div style="display:flex; flex-direction:row">
  <div style="width:250px;">
  <%= render 'shared/sidebar' %>
</div>
  <div style="display:flex; flex-direction:column; width:100%; ">

      <%= render 'shared/alert' %>
      <% if current_user %>
        <%= render 'shared/navbar' %>
      <% end %>

      <div id= 'searchingModal'></div>
      <%= render partial: '/layouts/failure_toast'%>
      <%= render partial: '/layouts/success_toast'%>
      <div class="ml-[5%]">
        <%= yield %>       
      </div>  
      </div>
      </div>

      </div>
  </body>
</html>


